@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Poppins:300,400,500,600,700');a:focus, input:focus, textarea:focus, button:focus {
	outline: 0 solid;
}

a:hover {
	text-decoration: none;
}
a:hover{
	cursor: pointer;
}
img {
	height: auto;
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #373737;
	font-weight: 400;
	margin: 0 0 15px;
	font-family: 'Poppins', sans-serif;
}

body {
	color: #B5B5B5;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	line-height: 1.8;
   
  }

.section-padding{
	padding: 50px 0
}
.section-bg-1{background-image: url("../img/bg-3.jpg")}
.portfolio-bg-1{background-image: url("../img/portfolio-1.jpg")}
.portfolio-bg-2{background-image: url("../img/portfolio-2.jpg")}
.portfolio-bg-3{background-image: url("../img/portfolio-3.png")}
.portfolio-bg-4{background-image: url("../img/portfolio-4.png")}
.portfolio-bg-5{background-image: url("../img/portfolio-5.png")}
.portfolio-bg-6{background-image: url("../img/portfolio-6.png")}

.section-title{
	text-align: center;
	width: 400px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.section-title h2 {
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 25px;
}
.portfolio-list{overflow: hidden;}

.single-portfolio-item {
	float: left;
	width: 20%;
	height: 220px;
	background-size: 100%;
	background-position: center;
	background-color: #ddd;
	display: table;
	transition: .5s;

}

.portfolio-hover {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: relative; 
	opacity: 0;
	visibility: hidden;
	transition: .5s;
	z-index: 1;

}  
	
.seperator {
	position: relative;
	left: 50%;
	top: 0;
	height: 3px;
	width: 40px;
	background-color: #28AAE1;
	margin-left: -20px;
	
}

.portfolio-hover a {
	color: #333;
}

.large-bg {
	width: 40%;
	height: 440px;
}

.medium {
	width: 40%;
}
.portfolio-hover:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
	background-color: #000;
	opacity: .5;
	z-index: -1;
	 /* visibility: hidden; */
	/* opacity: 0; */
}

.single-portfolio-item:hover .portfolio-hover {
	visibility: visible;
	opacity: 1;
}
.single-portfolio-item:hover .portfolio-hover a{
	z-index:99;
	font-size:30px;
}


.portfolio-hover a{
	font-size: 20px;
	color: #fff;
	transition: .5s;
  
}

.cta-area {
    background-color: #DC4B3F;
    padding: 80px 0;
    text-align: center;
    position: relative;
}
#particles-js canvas {
    position: absolute;
    left: 0;
    top: 0;
}
.cta-area h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding-top: 3px;
}

.cta-area .boxed-btn {
    display: inline-block;
    background-color: #fff;
    padding: 9px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #DC4B3F;
    font-weight: 700;
    transition: .5s;
}

.cta-area .boxed-btn:hover {
    background-color: #dc483f;
    color: #fff;
    border: 1px solid #fff;
}